@model IEnumerable<Stan.SQLData.Stan>

@{
    ViewBag.Title = "Index";
}
<br /> <br />

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

<div class="row">
    <div class="col-md-12">

        @foreach (var item in Model) {
            <div class="col-md-3" style="margin-bottom:20px">
                <div class="thumbnail">
                    @{string fName = item.Id + "_" + item.GazdaId + ".jpg"; }
                    <img src="~/Images/@fName" height="200" width="150" />
                    <div class="caption">
                        <p>Локација: @Html.DisplayFor(modelItem => item.Lokacija) </p>
                        <p>Квадратура: @Html.DisplayFor(modelItem => item.Kvadratura) m2</p>
                        <p>Број на соби: @Html.DisplayFor(modelItem => item.BrojNaSobi)</p>
                        <p>Цена: </p>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-6">
                                <p>
                                    <a href='@Url.Action("Details", "Stan", new {id = item.Id })' class="btn btn-primary">Повеќе!</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                        }
    </div>
</div>